@charset "utf-8";
* {margin:0; padding:0; box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
h1, h2, h3, h4, h5, h6, p, address,
ol, dl, dt, dd,
caption, img, form {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	}
caption, th{
    text-align:left;
	}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	}
textarea { font-size: 100%; }
img { vertical-align: bottom;border:0px;}
table{border-collapse:collapse;border-spacing:0;}

/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
	}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    *zoom: 1; /* for IE 6/7 only */
	overflow:hidden;/* for DreamWeaver */
}
